<!doctype html>
<html lang="en-US">
<head>
    <title>This is the about page</title>
   <!-- <link rel="stylesheet" href="style_test.css">-->
   <style>
       table, th, td {
           border: 1px solid black;
           border-collapse: collapse;
       }
       td {
           padding: 5px;
           background-color: #BBB;
       }
   </style>
</head>
<body style="background-color:light-grey;">

<h1 title="title test" style="font-family:verdana; color:blue; background-color:#999999;">About</h1>
<hr title="line test"/>
<p>This is a paragraph</p>
<p>This is <b>another</b> paragraph</p>
<p>and <i>another</i> one<br/>what is the difference between <b>bold</b> and <strong>strong</strong>?</p>
<pre>
 Haikus are funny
 
 but sometimes they don't make sense
 
 refrigerator
</pre>
<!-- this is a comment -->
<%= link_to 'This is a link to the home page', root_path %>
<br/>

<p><sub>sub?</sub>...<sup>sup</sup></p>


</body>
</html>