$navbar-default-bg: lime;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('palm_trees.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlg {
  color: #fff;
  font-size: 1.7em;
  background-color: lime;
}

.btn-xlg:hover {
  background-color: #00b300;
  text-decoration: none;
}

.btn-lg {
  color: #fff;
  background-color: lime;
}

.btn-lg:hover {
  background-color: #00b300;
  text-decoration: none;
}

.btn-lg:active {
  background-color: #006600;
  text-decoration: none;
}

.btn-lg:visited {
  background-color: #006600;
  text-decoration: none;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}